* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: #bea2a2;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  overflow-x: hidden;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

section {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden !important;
}

#landing > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50vw;
  height: 100vh;
  position: absolute;
  -webkit-filter: hue-rotate(130deg) grayscale(1);
          filter: hue-rotate(130deg) grayscale(1);
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  #landing > img {
    position: relative;
    width: 100vw;
    height: 50vh;
  }
}

#landing .landingSocialLinks {
  position: absolute;
  right: 0;
  top: 0;
  width: 49.8vw;
  height: 30vh;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  font-size: 5rem;
}

#landing .landingSocialLinks a {
  color: #000000;
  background: #9fefd9;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#landing .landingSocialLinks a:nth-child(2) {
  border: 1px solid #0000001c;
  border-top: none;
  border-bottom: none;
}

#landing .landingSocialLinks a:hover {
  color: #ffffff;
  background: #000;
}

@media only screen and (max-width: 850px) {
  #landing .landingSocialLinks {
    display: none;
  }
}

@-webkit-keyframes imgHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes imgHue {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

#landingLogo {
  padding: 25px;
  color: black;
  background: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  position: absolute;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

#landingLogo:hover + img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-animation: imgHue infinite 5s;
          animation: imgHue infinite 5s;
  opacity: 0.8;
}

.mainWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

@media only screen and (max-width: 850px) {
  .mainWrapper {
    display: block;
  }
}

.landingLinksContainer {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landingLinksContainer a {
  color: black;
  font-family: "Poppins", sans-serif;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 5vw;
  font-size: 8vw;
  font-weight: 900;
  -webkit-transition: padding 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: padding 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.landingLinksContainer a:nth-child(1):hover {
  border-left: 15px solid #9fefb0;
  padding: 10px 6vw;
  color: #9fefb0;
}

.landingLinksContainer a:nth-child(2):hover {
  border-left: 15px solid #ef9fa3;
  padding: 10px 6vw;
  color: #ef9fa3;
}

.landingLinksContainer a:nth-child(3):hover {
  border-left: 15px solid #9fbfef;
  padding: 10px 6vw;
  color: #9fbfef;
}

@media only screen and (max-width: 850px) {
  .landingLinksContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .landingLinksContainer a {
    font-size: 5vw;
    padding: 50px 0;
  }
  .landingLinksContainer a:nth-child(1):hover {
    border: none;
    padding: 50px 0px;
    color: #9fefb0;
  }
  .landingLinksContainer a:nth-child(2):hover {
    border: none;
    padding: 50px 0px;
    color: #ef9fa3;
  }
  .landingLinksContainer a:nth-child(3):hover {
    border: none;
    padding: 50px 0px;
    color: #9fbfef;
  }
}

.upcomingProjects {
  background: #c2f5cd;
  padding: 10%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-top-left-radius: 3px;
}

@media only screen and (max-width: 850px) {
  .upcomingProjects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    max-height: auto;
  }
}

#upcomingReleases {
  font-size: 1.5vw;
  font-weight: 900;
  color: #73e88c;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  margin-bottom: 20px;
}

@media only screen and (max-width: 850px) {
  #upcomingReleases {
    font-size: 5vw;
  }
}

.ucpListItem {
  margin-bottom: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  background: #000000;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: transform 0.15s cubic-bezier(0, 0, 0, 1), -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
}

.ucpListItem:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.ucpListItem .itemImg {
  width: 100%;
}

.ucpListItem .itemImg img {
  width: 100%;
  height: 100%;
}

.ucpListItem .itemDesc {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: repeat 2, 1fr;
      grid-template-rows: repeat 2, 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
}

.ucpListItem .trackName {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

.ucpListItem .trackType,
.ucpListItem .artistName {
  color: #147b2a;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}

.ucpListItem .trackType {
  margin-left: 20px;
  position: relative;
  background: #fefffe;
  padding: 5px 20px;
}

.ucpListItem .trackType::before {
  position: absolute;
  content: '-';
  left: -5px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

@media only screen and (max-width: 850px) {
  .ucpListItem {
    width: 100%;
    background: #9fefb0;
  }
  .ucpListItem .trackName {
    color: #000000;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .ucpListItem .trackType,
  .ucpListItem .artistName {
    color: #000000;
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
  }
  .ucpListItem .trackType {
    margin-left: 0;
    width: 100%;
    font-weight: 400;
    position: relative;
    padding: 0;
    background: none;
  }
  .ucpListItem .trackType::before {
    position: absolute;
    content: '';
  }
}

section:not(#landing) {
  padding: 0 5vw;
  padding-top: 5%;
}

#music {
  position: relative;
}

#music .sectionTitle {
  color: rgba(209, 209, 209, 0.342);
  font-family: "Poppins", sans-serif;
  font-size: 25rem;
  position: absolute;
  top: 90%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 850px) {
  #music .sectionTitle {
    position: relative;
    font-size: 5rem;
    padding: 15% 0 0 0;
  }
}

.musicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 20px;
}

@media only screen and (max-width: 850px) {
  .musicContainer {
    margin-top: -100px;
  }
}

.musicCard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10fr 1fr 1fr;
      grid-template-rows: 10fr 1fr 1fr;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-top: 50px;
  background: #f7f7f7;
  padding: 20px;
  -webkit-transition: all  0.15s;
  transition: all  0.15s;
  position: relative;
  overflow: hidden;
}

.musicCard:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.musicCard:hover .playOnSpotify {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (max-width: 850px) {
  .musicCard {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.playOnSpotify {
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1rem;
  background: white;
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: transform 0.15s cubic-bezier(0, 0, 0, 1);
  transition: transform 0.15s cubic-bezier(0, 0, 0, 1), -webkit-transform 0.15s cubic-bezier(0, 0, 0, 1);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.music-albumArt {
  margin-bottom: 20px;
}

.music-albumArt img {
  height: 100%;
  width: 100%;
}

.music-title {
  color: black;
  font-size: 1.2rem;
}

.tagsAndArtistWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music-tags, .music-artist {
  color: #b1b1b1;
  font-size: 0.8rem;
}

#videos {
  position: relative;
  min-height: 100vh;
  height: auto;
  padding: 10vh;
}

#videos .sectionTitle {
  color: rgba(209, 209, 209, 0.342);
  font-family: "Poppins", sans-serif;
  font-size: 25rem;
  position: absolute;
  top: 95%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 850px) {
  #videos .sectionTitle {
    top: 5%;
    font-size: 3rem;
  }
}

.videosContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  min-height: 300px;
  height: auto;
  padding: 5em 0 20em 0;
}

.videosContainer iframe {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .videosContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  background: #ececec;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  footer {
    height: 50vh;
  }
}

footer #social {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 850px) {
  footer #social {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer #social a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    text-align: center;
  }
}

footer #social a {
  color: black;
  font-size: 2rem;
  padding: 5px;
  margin: 0 20px;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

footer #social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer #social a:nth-child(1):hover {
  color: #1d60dd;
}

footer #social a:nth-child(2):hover {
  color: #1ddd7d;
}

footer #social a:nth-child(3):hover {
  color: #9a3cd1;
}

footer #social a:nth-child(4):hover {
  color: #dd1d1d;
}

footer #social a:nth-child(5):hover {
  color: #dd731d;
}

.emblem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: bold;
  color: #003A6F;
  -webkit-animation: spinZ 5s linear infinite;
          animation: spinZ 5s linear infinite;
  text-align: center;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 850px) {
  .emblem {
    display: none;
  }
}

.emblem span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-transition: all 0.05s cubic-bezier(0, 0, 0, 1);
  transition: all 0.05s cubic-bezier(0, 0, 0, 1);
}

@-webkit-keyframes spinZ {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes spinZ {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

#preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: pink;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#preLoader::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
}

#preLoader .textWrapper {
  position: absolute;
  -webkit-animation: preloaderAnim infinite 5s cubic-bezier(0, 0, 0, 1);
          animation: preloaderAnim infinite 5s cubic-bezier(0, 0, 0, 1);
}

#preLoader small {
  color: white;
  font-size: 1.5rem;
}

@-webkit-keyframes preloaderAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes preloaderAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/*# sourceMappingURL=style.css.map */